### Import Libraries

In [1]:
import pandas as pd
import numpy as np
# Library to get countries codes
import pycountry

### Function used for proccessing

In [2]:
# Function to get country name by the code
def countries(x):
    country = pycountry.countries.get(alpha_2=x)
    if country != None:
        return country.name
    else:
        return x
    

# Function to classify the activites
def classify(x):
    activities = ['Studies','Traineeships','Youth Exchange',"Teach","Training",'Voluntary',"Workers","Learner","Planning",'Job']
    for i in activities:
        if i in x.title():
            return i
        else:
            pass

### Read Dataset

In [3]:
df = pd.read_csv("e+ exchange data/Erasmus_mobility_statistics_2014_2019.csv")
df.head()

,Unnamed: 0,Project Reference,Academic Year,Mobility Start Month,Mobility End Month,Mobility Duration,Activity (mob),Field of Education,Participant Nationality,Education Level,...,Participant Age,Sending Country Code,Sending City,Sending Organization,Sending Organisation Erasmus Code,Receiving Country Code,Receiving City,Receiving Organization,Receiving Organisation Erasmus Code,Participants
0,0,2017-1-PT01-KA103-035561,2018-2019,2018-02,2018-06,113,Student mobility for studies between Programme...,"Business and administration, not further defined",PT,ISCED-6 - First cycle / Bachelor’s or equivale...,...,21.0,PT,FARO,UNIVERSIDADE DO ALGARVE,P FARO02,PL,POZNAN,UNIWERSYTET EKONOMICZNY W POZNANIU,PL POZNAN03,1
1,1,2018-1-AT01-KA103-038802,2018-2019,2018-06,2018-08,62,Student mobility for traineeships between Prog...,Food processing,AT,ISCED-6 - First cycle / Bachelor’s or equivale...,...,20.0,AT,WIEN,UNIVERSITAET FUER BODENKULTUR WIEN,A WIEN03,IE,Galway,NATIONAL UNIVERSITY OF IRELAND GALWAY,-,1
2,2,2014-2-UK01-KA105-001458,2015-2016,2015-01,2015-01,12,Youth Exchanges - Partner Countries,? Unknown ?,BY,??? - ? Unknown ?,...,21.0,BY,Mogilev,Young leaders of Mogilev,-,AZ,SIRVAN,Association of Sirvan Youth,-,4
3,3,2017-1-FR01-KA103-035756,2017-2018,2017-09,2018-06,257,Student mobility for studies between Programme...,"Engineering and engineering trades, not furthe...",FR,ISCED-7 - Second cycle / Master’s or equivalen...,...,21.0,FR,GIF SUR YVETTE,CENTRALESUPELEC,F GIF-YVE03,UK,CAMBRIDGE,"THE CHANCELLOR, MASTERS AND SCHOLARS OF THE UN...",UK CAMBRID01,1
4,4,2014-1-IT02-KA103-000159,2014-2015,2014-08,2015-07,320,Student mobility for studies between Programme...,Pharmacy,IT,ISCED-7 - Second cycle / Master’s or equivalen...,...,29.0,IT,FISCIANO SA,UNIVERSITA DEGLI STUDI DI SALERNO,I SALERNO01,FR,CAEN CEDEX 05,UNIVERSITE DE CAEN BASSE-NORMANDIE,F CAEN01,1

### Del Cols

In [4]:
del df["Unnamed: 0"]

### Columns

In [5]:
df.columns

Index(['Project Reference', 'Academic Year', 'Mobility Start Month',
       'Mobility End Month', 'Mobility Duration', 'Activity (mob)',
       'Field of Education', 'Participant Nationality', 'Education Level',
       'Participant Gender', 'Participant Profile', 'Special Needs',
       'Fewer Opportunities', 'GroupLeader', 'Participant Age',
       'Sending Country Code', 'Sending City', 'Sending Organization',
       'Sending Organisation Erasmus Code', 'Receiving Country Code',
       'Receiving City', 'Receiving Organization',
       'Receiving Organisation Erasmus Code', 'Participants'],
      dtype='object')

### Data Transforamtion

#### Handle missing values and Change Dtype

In [6]:
# Missing Value
print(df.isnull().sum())

Project Reference                      0
Academic Year                          0
Mobility Start Month                   0
Mobility End Month                     0
Mobility Duration                      0
Activity (mob)                         0
Field of Education                     0
Participant Nationality                2
Education Level                        0
Participant Gender                     0
Participant Profile                    0
Special Needs                          0
Fewer Opportunities                    0
GroupLeader                            0
Participant Age                        0
Sending Country Code                   2
Sending City                           0
Sending Organization                   0
Sending Organisation Erasmus Code      0
Receiving Country Code                 0
Receiving City                         0
Receiving Organization                 0
Receiving Organisation Erasmus Code    0
Participants                           0
dtype: int64

##### There are two cols have missing values, will be handled below

## Data Transformation

### Let us start with Age column

In [7]:
df['Participant Age'].unique()

array([ 21.,  20.,  29.,  39.,  19.,  23.,  31.,  61.,  22.,  18.,  32.,
        57.,  15.,  35.,  27.,  42.,  45.,  17.,  50.,  24.,  28.,  16.,
        25.,  47.,  26.,  53.,  58.,  60.,  38.,  30.,  40.,  41.,  33.,
        62.,  59.,  55.,  51.,  56.,  73.,  37., 114.,  14.,  52.,  64.,
        34.,  43.,  49.,  44.,  48.,  65.,  54.,  46.,  67.,  13.,  36.,
        63.,  68.,  69.,  66.,   0.,  -1., 361.,  71.])

In [8]:
# Cleaning of Age column
df['Participant Age'] = df['Participant Age'].replace([361,114,"-",-1,0],np.nan)

Fill nan values in age by ffill() method

In [9]:
df['Participant Age'] = df['Participant Age'].ffill()

##### Change Datatype for continues data

In [10]:
# Object to Int
df = df.astype({'Mobility Duration':'int','Participant Age':'int','Participants':'int'})

In [11]:
df['Participant Age'].unique()

array([21, 20, 29, 39, 19, 23, 31, 61, 22, 18, 32, 57, 15, 35, 27, 42, 45,
       17, 50, 24, 28, 16, 25, 47, 26, 53, 58, 60, 38, 30, 40, 41, 33, 62,
       59, 55, 51, 56, 73, 37, 14, 52, 64, 34, 43, 49, 44, 48, 65, 54, 46,
       67, 13, 36, 63, 68, 69, 66, 71])

### Activity Classification

In [12]:
df['Activity (mob)'].unique()

array(['Student mobility for studies between Programme Countries',
       'Student mobility for traineeships between Programme Countries',
       'Youth Exchanges - Partner Countries',
       'Youth Exchanges - Programme Countries',
       'Staff mobility for teaching between Programme Countries',
       'Structured Courses/Training Events',
       'VET learners traineeships in companies abroad',
       'European Voluntary Service - Programme Countries',
       'Training/teaching assignments abroad',
       'Staff mobility for training between Programme Countries',
       'Advance Planning Visit – Youth Exchange',
       'Mobility of youth workers - Programme Countries',
       'Staff training abroad',
       'VET learners traineeships in vocational institutes abroad',
       'Mobility of youth workers - Partner Countries',
       'Mobility of VET learners (2 weeks up to 3 months)',
       'Job Shadowing', 'European Voluntary Service - Partner Countries',
       'ErasmusPro - Mobility of VET learners (3 to 12 months)',
       'Staff mobility for Training To/From Partner Countries',
       'Student mobility for Studies To/From Partner Countries',
       'Student mobility for traineeships To/From Partner Countries',
       'Teaching/training assignments abroad',
       'Staff mobility for Teaching To/From Partner Countries',
       'Individual Volunteering Activities',
       'Group Volunteering Activities', 'Advance Planning Visit – EVS',
       'Advance Planning Visit - Erasmus- PRO'], dtype=object)

#### Update some values to be correct

In [13]:
df['Activity (mob)'] = df['Activity (mob)'].replace({
    'Training/teaching assignments abroad':'Training assignments abroad',
    'Teaching/training assignments abroad':'Training assignments abroad',
    'VET learners traineeships in companies abroad':'VET traineeships in companies abroad',
    'Group Volunteering Activities':'Group Voluntary Activities',
    'Individual Volunteering Activities':'Individual Voluntary Activities'
})

####  Classifing the activites

In [14]:
df['Activity Classification'] = df['Activity (mob)'].apply(lambda x: classify(x))

In [15]:
df['Activity Classification'].unique()

array(['Studies', 'Traineeships', 'Youth Exchange', 'Teach', 'Training',
       'Voluntary', 'Workers', 'Learner', 'Job', 'Planning'], dtype=object)

### Let us start with Field of Education

In [16]:
df['Field of Education'].unique()

array(['Business and administration, not further defined',
       'Food processing', '? Unknown ?',
       'Engineering and engineering trades, not further defined',
       'Pharmacy', 'Audio-visual techniques and media production',
       'Psychology', 'Medicine', 'Architecture and town planning',
       'Dental studies', 'Literature and linguistics',
       'Engineering and engineering trades',
       'Education, not further defined', 'Languages, not further defined',
       'Law', 'Biochemistry', 'Management and administration', 'Biology',
       'Transport services', 'Education',
       'Architecture and construction, not further defined',
       'Training for pre-school teachers', 'Business and administration',
       'Music and performing arts', 'Biological and related sciences',
       'Philosophy and ethics', 'Chemistry',
       'Political sciences and civics', 'Education science',
       'Languages, not elsewhere classified', 'Nursing and midwifery',
       'Health, not further defined', 'Sociology and cultural studies',
       'Economics',
       'Information and Communication Technologies (ICTs), not further defined',
       'Humanities (except languages), not further defined',
       'Arts, not further defined',
       'Health and Welfare, inter-disciplinary programmes',
       'Mechanics and metal trades',
       'Social and behavioural sciences, not elsewhere classified',
       'Health', 'Teacher training with subject specialization',
       'Physics', 'Information and Communication Technologies (ICTs)',
       'Travel, tourism and leisure',
       'Journalism and information, not further defined',
       'Motor vehicles, ships and aircraft',
       'Teacher training without subject specialization',
       'Hotel, restaurants and catering', 'Therapy and rehabilitation',
       'Religion and theology', 'Services', 'Language acquisition',
       'Agriculture, forestry, fisheries and veterinary', 'Fine arts',
       'Social and behavioural sciences, not further defined',
       'Biological and related sciences, not elsewhere classifed',
       'Engineering, manufacturing and construction',
       'Agriculture, not further defined',
       'Building and civil engineering', 'Social work and counselling',
       'Wholesale and retail sales',
       'Engineering and engineering trades, not elsewhere classified',
       'Personal services, not further defined',
       'Chemical engineering and processes', 'Journalism and reporting',
       'Environmental sciences',
       'Business and administration, not elsewhere classified',
       'Computer use',
       'Inter-disciplinary programmes and qualifications involving agriculture, forestry, fisheries and veterinary',
       'Fashion, interior and industrial design', 'Earth sciences',
       'Statistics', 'Marketing and advertising',
       'Social sciences, journalism and information, inter-disciplinary programmes',
       'Transport services, not elsewhere classified',
       'Electricity and energy', 'Child care and youth services',
       'Inter-disciplinary programmes and qualifications involving engineering, manufacturing and construction',
       'Secretarial and office work', 'History and archaeology',
       'Mathematics and statistics', 'Mathematics',
       'Accounting and taxation',
       'Care of the elderly and of disabled adults',
       'Hair and beauty services', 'Health, not elsewhere classified',
       'Sports', 'Finance, banking and insurance',
       'Database and network design and administration', 'Languages',
       'Natural sciences, mathematics and statistics',
       'Manufacturing and processing, not elsewhere classified',
       'Textiles (clothes, footwear and leather)', 'Veterinary',
       'Electronics and automation',
       'Environment, not elsewhere classified', 'Handicrafts', 'Arts',
       'Biological and related sciences, not further defined',
       'Personal services', 'Crop and livestock production',
       'Information and Communication Technologies (ICTs), not elsewhere classified',
       'Architecture and construction', 'Agriculture',
       'Humanities (except languages), not elsewhere classified',
       'Humanities (except languages)',
       'Arts and humanities, inter-disciplinary programmes',
       'Horticulture', 'Work skills', 'Business, administration and law',
       'Law, not elsewhere classified',
       'Architecture and construction, not elsewhere classified',
       'Software and applications development and analysis',
       'Manufacturing and processing, not further defined',
       'Inter-disciplinary programmes and qualifications involving business, administration and law',
       'Medical diagnostic and treatment technology',
       'Agriculture, not elsewhere classified', 'Security services',
       'Journalism and information', 'Health and welfare',
       'Materials (glass, paper, plastic and wood)',
       'Arts and humanities',
       'Social sciences, journalism and information',
       'Education, not elsewhere classified', 'Environment',
       'Business, administration and law not elsewhere classified',
       'Community sanitation', 'Forestry',
       'Protection of persons and property', 'Mining and extraction',
       'Physical sciences, not further defined',
       'Library, information and archival studies',
       'Information and Communication Technologies (ICTs), inter-disciplinary programmes',
       'Arts, not elsewhere classified',
       'Veterinary, not elsewhere classified',
       'Mathematics and statistics, not further defined',
       'Environment, not further defined',
       'Environmental protection technology',
       'Hygiene and occupational health services, not further defined',
       'Services, inter-disciplinary programmes',
       'Forestry, not elsewhere classified',
       'Social and behavioural sciences', 'Welfare',
       'Inter-disciplinary programmes and qualifications involving natural sciences, mathematics and statistics',
       'Engineering, manufacturing and construction not elsewhere classified',
       'Manufacturing and processing', 'Domestic services',
       'Physical sciences',
       'Inter-disciplinary programmes and qualifications involving education',
       'Natural environments and wildlife',
       'Personal services, not elsewhere classified',
       'Occupational health and safety',
       'Agriculture, forestry, fisheries and veterinary not elsewhere classified',
       'Military and defence',
       'Journalism and information, not elsewhere classified',
       'Physical sciences, not elsewhere classified',
       'Security services, not elsewhere classified',
       'Security services, not further defined',
       'Welfare, not elsewhere classified', 'Fisheries',
       'Mathematics and statistics, not elsewhere classified',
       'Hygiene and occupational health services',
       'Welfare, not further defined',
       'Traditional and complementary medicine and therapy'], dtype=object)

In [17]:
len(df[df['Field of Education'] == "? Unknown ?"])

2379

#### THere are a lot of Unknown fields, so we will keep it Unknown

In [18]:
df['Field of Education'] = df['Field of Education'].replace("? Unknown ?", "Other")

### Let us start with Participant Nationality

In [19]:
df['Participant Nationality'].unique()

array(['PT', 'AT', 'BY', 'FR', 'IT', 'LT', 'BG', 'ES', 'LV', 'PL', 'NL',
       'DE', 'UK', 'HU', 'RO', 'EL', 'FI', 'SI', 'EE', 'CZ', 'BE', 'MA',
       'UA', 'MK', 'TR', 'DK', 'SE', 'UY', 'SK', 'IE', 'BA', 'HR', 'AL',
       'MX', 'MY', 'GE', 'PE', 'GH', 'CN', '-', 'RS', 'MD', 'IQ', 'LU',
       'XK', 'MT', 'RU', 'NO', 'PS', 'IS', 'JP', 'TN', 'TW', 'AM', 'BR',
       'EC', 'CY', 'NG', 'VN', 'US', 'ME', 'KZ', 'CD', 'LI', 'AD', 'KG',
       'SG', 'NP', 'SY', 'AU', 'EG', 'UZ', 'IL', 'GM', 'IN', 'JO', 'ET',
       'PK', 'CV', 'CH', 'ID', 'AF', 'IR', 'CU', 'BD', 'MM', 'LB', 'PH',
       'CA', 'AZ', 'BJ', 'LK', 'BF', 'KR', 'ZW', 'CL', 'TJ', 'SO', 'CO',
       'PY', 'UG', 'DZ', 'KH', 'CI', 'MZ', 'MR', 'MU', 'MG', nan, 'NI',
       'GA', 'RE', 'TH', 'GN', 'ML', 'QA', 'MN', 'TG', 'DO', 'HK', 'GT',
       'LR', 'SV'], dtype=object)

In [20]:
df['Participant Nationality'] = df['Participant Nationality'].replace("-", None)

In [21]:
df['Participant Nationality'] = df['Participant Nationality'].ffill()

#### Create new column with country name to be readable in visualization part

In [22]:
# New column for countries names
df["New Participant Nationality"] = df['Participant Nationality'].apply(lambda x:countries(x))
df["New Participant Nationality"]

0          Portugal
1           Austria
2           Belarus
3            France
4             Italy
           ...
9995    Netherlands
9996        Romania
9997             UK
9998          Italy
9999          Italy
Name: New Participant Nationality, Length: 10000, dtype: object

In [23]:
[i for i in list(df["New Participant Nationality"].unique()) if len(i) == 2]

['UK', 'EL', 'XK']

#### Handle 3 values manualy

In [24]:
df['New Participant Nationality'] = df['New Participant Nationality'].replace(
            {"UK":"United Kingdom","EL":"Greece","XK":"Kosovo"}
)

### Let us start with Education Level

In [25]:
df['Education Level'].unique()

array(['ISCED-6 - First cycle / Bachelor’s or equivalent level (EQF-6)',
       '??? - ? Unknown ?',
       'ISCED-7 - Second cycle / Master’s or equivalent level (EQF-7)',
       'ISCED-9 - Not elsewhere classified',
       'ISCED-4 - Post-secondary non-tertiary education',
       'ISCED-3 - Upper secondary education',
       'ISCED-5 - Short-cycle within the first cycle / Short-cycle tertiary education (EQF-5)',
       'ISCED-8 - Third cycle / Doctoral or equivalent level (EQF-8)',
       'ISCED-2 - Lower secondary education'], dtype=object)

#### Handling the values with replace function

In [26]:
df['New Education Level'] = df['Education Level'].replace({
    'ISCED-6 - First cycle / Bachelor’s or equivalent level (EQF-6)':'Bachelor',
    'ISCED-7 - Second cycle / Master’s or equivalent level (EQF-7)':'Master',
    '??? - ? Unknown ?':'Unknown',
    'ISCED-9 - Not elsewhere classified':'Not Classified',
    'ISCED-4 - Post-secondary non-tertiary education':'Post-Secondary Education',
    'ISCED-3 - Upper secondary education':'Upper Secondary Education',
    'ISCED-5 - Short-cycle within the first cycle / Short-cycle tertiary education (EQF-5)':'Tertiary Education',
    'ISCED-8 - Third cycle / Doctoral or equivalent level (EQF-8)':'Doctoral',
    'ISCED-2 - Lower secondary education':'Lower Secondary Education'
})

In [27]:
df['New Education Level'].unique()

array(['Bachelor', 'Unknown', 'Master', 'Not Classified',
       'Post-Secondary Education', 'Upper Secondary Education',
       'Tertiary Education', 'Doctoral', 'Lower Secondary Education'],
      dtype=object)

### Let us start with gender column

In [28]:
# Participant Gender needs proccessing
df['Participant Gender'].unique()

array(['Male', 'Female', 'Undefined'], dtype=object)

#### Handle gender

In [29]:
df['Participant Gender'] = df['Participant Gender'].replace("Undefined", None)

In [30]:
# Fill missing 
df['Participant Gender'] = df['Participant Gender'].ffill()

### Let us start with Sending and Receving Country Code columns

In [31]:
df['Sending Country Code'].unique()

array(['PT', 'AT', 'BY', 'FR', 'IT', 'LT', 'BG', 'ES', 'LV', 'PL', 'NL',
       'DE', 'UK', 'HU', 'RO', 'EL', 'FI', 'SI', 'EE', 'CZ', 'BE', 'UA',
       'MK', 'TR', 'DK', 'SE', 'NO', 'BA', 'HR', 'AL', 'SK', 'GE', 'IE',
       'RS', 'LU', 'XK', 'MT', 'RU', 'IS', 'JP', 'TN', 'TW', 'AM', 'CY',
       'MY', 'ME', 'MA', 'MD', 'US', 'CN', 'LI', 'KG', 'SG', 'NP', 'UY',
       'IL', 'EG', 'JO', 'ET', 'PS', 'CU', 'LB', 'AZ', 'CL', 'BT', 'CA',
       'IN', 'KH', 'UZ', 'IQ', 'MG', nan, 'KZ', 'PK', 'UG', 'MN', 'AU',
       'BF', 'HK', 'TH', 'VN', 'DZ', 'BR'], dtype=object)

In [32]:
# # Receiving Country code
df["Receiving Country Name"] = df['Receiving Country Code'].apply(lambda x:countries(x))
df['Receiving Country Name'] = df['Receiving Country Name'].replace(
            {"UK":"United Kingdom","EL":"Greece","XK":"Kosovo"}
)

# Sending Country Code
df['Sending Country Code'] = df['Sending Country Code'].replace(np.nan, None)
df['Sending Country Code'] = df['Sending Country Code'].ffill()
df["Sending Country Name"] = df['Sending Country Code'].apply(lambda x:countries(x))
df['Sending Country Name'] = df['Sending Country Name'].replace(
            {"UK":"United Kingdom","EL":"Greece","XK":"Kosovo"}
)

In [33]:
df['Sending Country Name'].unique()

array(['Portugal', 'Austria', 'Belarus', 'France', 'Italy', 'Lithuania',
       'Bulgaria', 'Spain', 'Latvia', 'Poland', 'Netherlands', 'Germany',
       'United Kingdom', 'Hungary', 'Romania', 'Greece', 'Finland',
       'Slovenia', 'Estonia', 'Czechia', 'Belgium', 'Ukraine',
       'North Macedonia', 'Turkey', 'Denmark', 'Sweden', 'Norway',
       'Bosnia and Herzegovina', 'Croatia', 'Albania', 'Slovakia',
       'Georgia', 'Ireland', 'Serbia', 'Luxembourg', 'Kosovo', 'Malta',
       'Russian Federation', 'Iceland', 'Japan', 'Tunisia',
       'Taiwan, Province of China', 'Armenia', 'Cyprus', 'Malaysia',
       'Montenegro', 'Morocco', 'Moldova, Republic of', 'United States',
       'China', 'Liechtenstein', 'Kyrgyzstan', 'Singapore', 'Nepal',
       'Uruguay', 'Israel', 'Egypt', 'Jordan', 'Ethiopia',
       'Palestine, State of', 'Cuba', 'Lebanon', 'Azerbaijan', 'Chile',
       'Bhutan', 'Canada', 'India', 'Cambodia', 'Uzbekistan', 'Iraq',
       'Madagascar', 'Kazakhstan', 'Pakistan', 'Uganda', 'Mongolia',
       'Australia', 'Burkina Faso', 'Hong Kong', 'Thailand', 'Viet Nam',
       'Algeria', 'Brazil'], dtype=object)

In [34]:
df['Receiving Country Name'].unique()

array(['Poland', 'Ireland', 'Azerbaijan', 'United Kingdom', 'France',
       'Italy', 'Germany', 'Czechia', 'Latvia', 'Greece', 'Hungary',
       'Georgia', 'Finland', 'Belarus', 'Spain', 'Slovakia', 'Cyprus',
       'Slovenia', 'Netherlands', 'Romania', 'Bulgaria', 'Portugal',
       'Turkey', 'Lithuania', 'Denmark', 'Estonia', 'Belgium', 'Norway',
       'Croatia', 'Austria', 'Sweden', 'Malta', 'Bosnia and Herzegovina',
       'Japan', 'Kosovo', 'Morocco', 'Serbia', 'Iceland',
       'North Macedonia', 'Ukraine', 'Armenia', 'Indonesia',
       'Russian Federation', 'Hong Kong', 'Tunisia', 'Luxembourg',
       'Albania', 'Israel', 'Montenegro', 'Canada', 'Lebanon',
       'Moldova, Republic of', 'Jordan', 'South Africa',
       'Korea, Republic of', 'Haiti', 'China', 'Palestine, State of',
       'India', 'Chile', 'Mozambique', 'Thailand', 'Ethiopia',
       'Liechtenstein', 'Malaysia', 'Brazil', 'United States', 'Viet Nam',
       'Egypt', 'Kyrgyzstan', 'Kenya', 'Sri Lanka'], dtype=object)

### Perfect columns

In [35]:
df["Special Needs"].unique()

array(['No', 'Yes'], dtype=object)

In [36]:
df["Fewer Opportunities"].unique()

array(['No', 'Yes'], dtype=object)

In [37]:
df["GroupLeader"].unique()

array(['No', 'Yes'], dtype=object)

In [38]:
df['Participants'].unique()

array([ 1,  4,  3,  2,  5,  7, 11, 13,  8,  6,  9, 10])

In [39]:
df["Sending Organization"].unique()

array(['UNIVERSIDADE DO ALGARVE', 'UNIVERSITAET FUER BODENKULTUR WIEN',
       'Young leaders of Mogilev', ..., 'MAGNET',
       "CHAMBRE DE COMMERCE ET D'INDUSTRIE DE BAYONNE PAYS BASQUE",
       'Associazione Amici del Tedesco'], dtype=object)

In [40]:
df["Sending City"].unique()[:100]

array(['FARO', 'WIEN', 'Mogilev', 'GIF SUR YVETTE', 'FISCIANO SA',
       'Borgomanero', 'MARMOUTIER', 'VILNIUS', 'SOFIA', 'VALENCIA',
       'Mārupe, Mārupes nov.', 'MILANO', 'BIALYSTOK', 'Amsterdam', 'Hamm',
       'MULHOUSE', 'Alicante', 'Lyon', 'Grantham', 'Mansfield', 'Pécs',
       'CLUJ NAPOCA', 'ATHENS', 'Gödöllő', 'SASSARI', 'Madrid',
       'Keratsini', 'Raisio', 'ANGERS', 'Paris', 'Cieszyn',
       'St. Veit/Glan', 'Murska Sobota', 'TALLINN', 'Berlin',
       'Velké Pavlovice', 'GENT', 'Duisburg and Essen', 'Torquay',
       'MANCHESTER', 'Teo', 'BREST CEDEX 3', 'NANCY', 'Žamberk', 'Kiev',
       'CRAIOVA', 'SEVILLA', 'Vratnica, Jegunovce', 'KAUNAS',
       'SANTIAGO DE COMPOSTELA', 'COGNAC', 'DINAN', 'Kedainiai', 'Rome',
       'MODENA', 'TAMPERE', 'Arnhem', 'Aksaray', 'Leipzig', 'Strasbourg',
       'Roma', 'ANCENIS', 'BAYREUTH', 'Kyiv', 'Hamburg', 'HRADEC KRALOVE',
       'MARIBOR', 'Coimbra', 'Sobreda', 'Brno', 'Vejle', 'Sheffield',
       'Augsburg', 'Hasselt', 'MALAGA', 'Tartu', 'SZCZECIN', 'LORIENT',
       'Bucharest', 'GRANADA', 'PORTO', 'Bonn', 'Osnabr�ck', 'Kharkiv',
       'KATOWICE', 'Krak�w', 'Lleida', 'Rotterdam', 'The Hague', 'RIGA',
       'MONTEMOR-O-NOVO', 'LEOBEN', 'SIEDLCE', 'BUCURESTI', 'GAVLE',
       'ABO', 'Łódź', 'Barcelona', 'BOLOGNA', 'TAVAS'], dtype=object)

### Replace "-" from columns

In [41]:
df["Sending Organization"] = df["Sending Organization"].replace("-","Unknown")
df["Sending City"] = df["Sending City"].replace("-","Unknown")
df["Sending City"] = df["Sending City"].apply(lambda x:x.replace("�",""))
df["Receiving City"] = df["Receiving City"].replace("-","Unknown")
df["Receiving City"] = df["Receiving City"].apply(lambda x:x.replace("�",""))

### Drop Columns who give the same values (Duplicated column), such as (Country Name) (Country Code)

In [42]:
df.columns

Index(['Project Reference', 'Academic Year', 'Mobility Start Month',
       'Mobility End Month', 'Mobility Duration', 'Activity (mob)',
       'Field of Education', 'Participant Nationality', 'Education Level',
       'Participant Gender', 'Participant Profile', 'Special Needs',
       'Fewer Opportunities', 'GroupLeader', 'Participant Age',
       'Sending Country Code', 'Sending City', 'Sending Organization',
       'Sending Organisation Erasmus Code', 'Receiving Country Code',
       'Receiving City', 'Receiving Organization',
       'Receiving Organisation Erasmus Code', 'Participants',
       'Activity Classification', 'New Participant Nationality',
       'New Education Level', 'Receiving Country Name',
       'Sending Country Name'],
      dtype='object')

In [43]:
df = df.drop([
                 'Mobility Start Month',
                 'Mobility End Month',
                 'Sending Country Code',
                 'Sending Organisation Erasmus Code',
                 'Receiving Country Code',
                 'Receiving Organisation Erasmus Code',
                 'Education Level',
                 'Participant Nationality'
             ], axis=1)

In [44]:
df.columns

Index(['Project Reference', 'Academic Year', 'Mobility Duration',
       'Activity (mob)', 'Field of Education', 'Participant Gender',
       'Participant Profile', 'Special Needs', 'Fewer Opportunities',
       'GroupLeader', 'Participant Age', 'Sending City',
       'Sending Organization', 'Receiving City', 'Receiving Organization',
       'Participants', 'Activity Classification',
       'New Participant Nationality', 'New Education Level',
       'Receiving Country Name', 'Sending Country Name'],
      dtype='object')

### Get New CSV File

In [55]:
df.to_csv("e+ exchange data/knime_v2_Erasmus_mobility_2014_2019.csv")